[profile.release]
codegen-units = 1
lto = "thin"
opt-level = 3
strip = "symbols"

[profile.release.build-override]
opt-level = 3

[target."aarch64-linux-android"]
linker = "clang"
rustflags = ["-C", "target-cpu=cortex-a75", "-C", "target-feature=+aes,+crc,+dotprod,+fp16,+lse,+ras,+rcpc,+rdm,+sha2,+v8.1a,+v8.2a", "-C", "default-linker-libraries=yes"]

[patch.crates-io]
deno_fs = { path = "deno/ext/fs" }
deno_net = { path = "deno/ext/net" }
deno_node = { path = "deno/ext/node" }
deno_runtime = { path = "deno/runtime" }

[env]
CC = "clang"
CXX = "clang++"
LD = "ld.lld"
AR = "llvm-ar"
NM = "llvm-nm"
CC_aarch64_linux_android = "clang"
CXX_aarch64_linux_android = "clang++"
AR_aarch64_linux_android = "llvm-ar"
NM_aarch64_linux_android = "llvm-nm"
CFLAGS_aarch64_linux_android = "--target=aarch64-linux-android29 -O3 -mcpu=cortex-a75 -flto=thin -pipe -Wno-error=implicit-function-declaration"
CXXFLAGS_aarch64_linux_android = "--target=aarch64-linux-android29 -O3 -mcpu=cortex-a75 -flto=thin -pipe -Wno-error=implicit-function-declaration"
CXXSTDLIB = "c++_shared"

RUSTY_V8_ARCHIVE = { value = "librusty_v8.a", relative = true }
GN_ARGS = "use_custom_libcxx=false"
